<div class="container-fluid">
  <div style="margin-bottom: 10px;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Book Store</a>
    </nav>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div style="margin-bottom: 10px;">
        <button class="btn btn-outline-primary" (click)="open(content)">Create New</button>
      </div>
      <table class="table striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>Author</th>
            <th>ISBN</th>
            <th>Publication Date</th>
            <th>Publisher</th>
            <th>Price</th>
            <th>Genre</th>
            <th>Format</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of books">
            <td style="max-width:200px">{{book.title}}</td>
            <td>{{book.author}}</td>
            <td>{{book.isbn}}</td>
            <td>{{renderDate(book)}}</td>
            <td style="max-width:200px">{{book.publisher}}</td>
            <td>{{book.price}}</td>
            <td>{{book.genre}}</td>
            <td>{{book.format}}</td>
            <td>
              <button class="btn btn-primary" (click)="editItem(content, book)"><i class="fa fa-edit"></i></button>
              <button class="btn btn-danger" (click)="removeItem(book)"><i class="fa fa-trash"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Add New</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="newBookForm" #form="ngForm" (ngSubmit)="createNewBook(newBookForm.value)">
      <div class="form-group">
        <input type="text" placeholder="Title" formControlName="title" class="form-control">
      </div>

      <div class="form-group">
        <input type="text" placeholder="ISBN" formControlName="isbn" class="form-control">
      </div>

      <div class="form-group">
        <input type="text" placeholder="Author" formControlName="author" class="form-control">
      </div>

      <div class="form-group">
        <input type="date" placeholder="Publication Date" formControlName="publication_date" class="form-control">
      </div>

      <div class="form-group">
        <input type="text" placeholder="Publisher" formControlName="publisher" class="form-control">
      </div>

      <div class="form-group">
        <input type="number" placeholder="Price" formControlName="price" class="form-control" />
      </div>

      <div class="form-group">
        <select formControlName="genre" class="form-control">
            <option value>Select Genre</option>
            <option>Science Fiction</option>
            <option>Satire</option>
            <option>Drama</option>
            <option>Action &amp; Adventure</option>
            <option>Romance</option>
            <option>Mystery</option>
            <option>Horror</option>
            <option>Self Help</option>
            <option>Children's &amp; Young Adults</option>
            <option>Business &amp; Economics</option>
          </select>
      </div>

      <div class="form-group">
        <select formControlName="format" class="form-control">
            <option value>Select Format</option>
            <option>Paperback</option>
            <option>Digital</option>
          </select>
      </div>

      <div *ngIf="error">{{error}}</div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    <button type="button" [disabled]="!newBookForm.valid" class="btn btn-default" (click)="createNewBook(newBookForm.value)">Create</button>
  </div>
</ng-template>